.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 22px;
}

div {
    border: solid black;
    margin: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img {
    padding: 10px;
}