.social-button{
    cursor: pointer;
    
}
.home-button {
    border-radius: 100%;
    
 
    background-color: #2b2a27;
    color: white;
    border: none;
    padding: 5px;
    
    height: 60px;
    width: 60px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}
.profile-button{
    border-radius: 100%;
   
    
    
    height: 60px;
    width: 60px;
    
   
    
}
.profile-img{
    border-radius: 100%;
    border: none;
 
    height: 60px;
    width: 60px;
}