.navbar-btn {
  cursor: pointer;
  transition: all 0.1s linear;

  display: flex;
  align-items: center;
  justify-content: center;


}

.navbar-btn:hover {
  color: black;
}

.myimg {
  cursor: pointer;
  transition: all 0.1s linear;
  background: #06f;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 70px;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;


}
.search{
  display: flex;
  justify-content: center;
}
