<p>
    <mat-toolbar color="primary">
        <!-- <span class="social-button"[routerLink]="['/post-feed']" mat-button (click)="home()">SoCal Media Mites</span> -->
        <span>SoCal Media Mites</span>
        <span class="spacer"></span>
            <button class = "navbar-btn" id="home-btn" mat-button (click)="home()">Feed</button>
            <button class = "navbar-btn" id="my-card-btn" mat-button (click)="openMyCard()">My Card</button>
            <button class = "navbar-btn" id="logout-btn" mat-button (click)="logout();">Logout</button>
    </mat-toolbar>
</p>    

