.container {
    display: flex;
    margin: 5px 0;
}

.search-container {
    width: 100px;
    padding: 10px 30px;
    background-color: aliceblue;
}

button {
    width: 100px;
    margin: 0px 10px;
}