<!-- <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
"> -->
<mat-card class="user-card" style="width: 500px;">
    <mat-card-title>
           
        {{user.firstName}} {{user.lastName}}
    </mat-card-title>
    <mat-card-subtitle>@{{user.firstName[0]}}{{user.lastName[0]}}</mat-card-subtitle>
    <div class="user-circle"></div>
    <mat-divider></mat-divider>
    <mat-card-content>


    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button>Submit</button>
        <button mat-flat-button>Cancel</button>
    </mat-card-actions>


<!--
    <p style="padding-top: 1em; font-weight: bold;">
        {{user.firstName}} {{user.lastName}}
    </p>
    <p>
        {{user.email}}
    </p>-->
</mat-card>
<!-- </div> -->