<div class="search-bar-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <form (ngSubmit)="onSubmit($event)" [formGroup]="searchForm" class="form">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="" />
        <button
          class="btn-block"
          color="accent"
          mat-stroked-button
          type="submit"
        >
          <img class="searchimg"
            alt="search"
            height="25"
            src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"
            width="25"
          />
        </button>
      </mat-form-field>
    </mat-card-content>
  </form>
</div>
