.box {
  background-color: transparent;
  border-style: none;
}
.search-bar-wrapper {
  width: 220px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.searchimg {
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.btn-block {
  border: 0;

  background: transparent;
  position: absolute;
}
.full-width {
  padding: 0;
  margin: 0;
  height: 50px;
  position: relative;
}
