<div class="wrapper">
  <div class="header">
    <app-navbar></app-navbar>
  </div>

  <div>
    <form *ngIf="!createPost; else createPostTemplate" [class.darkColorMode]="matColorPostFeed" class="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Something on your mind?</mat-label>
        <input (focus)="toggleCreatePost()" matInput>
      </mat-form-field>
    </form>

    <ng-template #createPostTemplate>
      <form (ngSubmit)="submitPost($event)" [class.darkColorMode]="matColorPostFeed" [formGroup]="postForm"
            class="form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Make a Post</mat-label>
          <textarea autofocus formControlName="text" matInput></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Add an Image?</mat-label>
          <input formControlName="imageUrl" matInput>
        </mat-form-field>
        <div align="end">
          <button (click)="toggleCreatePost()" color="primary" mat-raised-button>Cancel</button>
          <button (click)="submitPost($event)" color="warn" mat-raised-button>Post</button>
        </div>
      </form>
    </ng-template>

    <div *ngFor="let post of posts" class="post-feed">
      <app-post [post]="post"></app-post>
    </div>
  </div>
</div>
