
.my-card-container {
  width: 900px;
}


.mat-grid-tile {
  padding: 0;
}

#my-card-container {
  display: flex;
}

#my-card-pic div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-card-header-and-handle div {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

#my-card-avatar img {
  margin-left: 60px;
  padding: 0px;
  height: 40px;
  width: 40px;
}

#my-card-avatar:hover {
  cursor: pointer;
}

.mat-grid-tile {
  display: flex;
  flex-direction: row;
}

.profile1 {
  margin-left: 60px;
  height: 100px;
  padding: 0px;
}

