
<div class="my-card-container">
  <mat-grid-list cols="8" rowHeight="100px">

    <mat-grid-tile id="my-card-pic"
      [colspan]="3" [rowspan]="4">
      <div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p>Member Since Jan, 2017</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile id="my-card-header-and-handle"
      [colspan]="4" [rowspan]="1">
        <div>
          <h1><strong>FirstName Unt LastName</strong></h1>
          <p>Jake@Progressive.flom</p>
          <!-- <h1><strong>{{ user.firstName }} {{ user.lastName> }}</strong></h1>
          <p>{{ user.email }}</p> -->
        </div>
    </mat-grid-tile>

    <mat-grid-tile id="my-card-avatar"
    [colspan]="1" [rowspan]="1">
      <img mat-card-image src="../../../assets/images/BigDogMatt.webp" alt="Image of Avatar">
    </mat-grid-tile>

    <mat-grid-tile id="about-me"
      [colspan]="5" [rowspan]="2">
        <div>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem in a tenetur nam magni optio incidunt consequuntur excepturi quis, accusamus voluptates, delectus est alias reprehenderit.
        </div>
        </mat-grid-tile>

    <mat-grid-tile 
      [colspan]="5" [rowspan]="1">
      <h2>Something Fun</h2>
    </mat-grid-tile>

    <mat-grid-tile 
      [colspan]="2" [rowspan]="1">
      <h2>Followers</h2>
    </mat-grid-tile>

    <mat-grid-tile 
      [colspan]="2" [rowspan]="1">
      <h2>Posts</h2>
    </mat-grid-tile>

    <mat-grid-tile 
      [colspan]="2" [rowspan]="1">
      <h2>Comments</h2>
    </mat-grid-tile>

    <mat-grid-tile 
      [colspan]="2" [rowspan]="1">
      <h2>Uploads</h2>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--
<div class="flex-container">
  <div *ngFor="let num of [1,2,3,4,5,6,7]">   fxLayout="row wrap" fxLayoutGap="16px grid"
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu Pic {{num}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
      </mat-card>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Top Interests</mat-label>
          <mat-chip-list #chipList aria-label="Top Interests selection">
            <mat-chip *ngFor="let interest of interests" (removed)="remove(interest)">
              {{interest.name}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Top Interest..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
    </div>
</div>
-->