<div class="container">
  <div class="title">
    <h2>Edit {{ user.firstName }}'s Profile</h2>
  </div>
  <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit($event)" ng-show="showForm" required>
  <div class="user-details">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        class="form-control"
        formControlName="firstName"
        [(ngModel)]="user.firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        class="form-control"
        formControlName="lastName"
        [(ngModel)]="user.lastName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        [(ngModel)]="user.email"
      />
    </div>
    <div class="form-group">
      <label for="aboutMe">About Me</label>
      <input
        id="aboutMe"
        type="aboutMe"
        class="form-control"
        formControlName="aboutMe"
        [(ngModel)]="profile.aboutMe"
      />
    </div>

    <div class="form-group">
      <label for="hobbies">Hobbies</label>
      <input
        id="hobbies"
        type="hobbies"
        class="form-control"
        formControlName="hobbies"
        [(ngModel)]="profile.hobbies"
      />
    </div>

    <div class="form-group">
      <label for="somethingElse">Something Interesting</label>
      <input
        id="somethingElse"
        type="somethingElse"
        class="form-control"
        formControlName="somethingElse"
        [(ngModel)]="profile.somethingElse"
      />
    </div>

    <div class="form-group">
      <label for="profilePic">Picture URL</label>
      <input
        id="profilePic"
        type="profilePic"
        class="form-control"
        formControlName="profilePic"
        [(ngModel)]="profile.profilePic"
      />
    </div>

  </div>
  <div>
    <span class="error" *ngIf="profileForm.invalid">
      {{ error_message }} <br
    /></span>
  </div>
  <button
    id = "form-button"
    *ngIf="user.firstName && user.lastName && user.email"
    class="btn btn-primary"
    type="submit">Submit
  </button>
</form>
</div>


