<div class="post-card">
  <mat-card>
    <mat-card-header>
      <div class="header-image" mat-card-avatar></div>
      <mat-card-title>{{post.author.firstName}} {{post.author.lastName}}</mat-card-title>
      <mat-card-subtitle>{{post.author.email}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="post.imageUrl" alt="Post Image" mat-card-image src="{{ post.imageUrl }}">
    <mat-card-content>
      <p>
        {{post.text}}
      </p>
      <div *ngFor="let comment of post.comments" class="comment-container">
        <mat-divider></mat-divider>
        <app-comment [comment]="comment"></app-comment>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="toggleReplyToPost()" color="primary" mat-raised-button>Reply</button>
    </mat-card-actions>
    <form (ngSubmit)="submitReply($event)" *ngIf="replyToPost" [formGroup]="commentForm" class="form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Make a Post</mat-label>
        <textarea autofocus formControlName="text" matInput></textarea>
      </mat-form-field>
      <div align="end">
        <button (click)="toggleReplyToPost()" color="warn" mat-raised-button>Cancel</button>
        <button color="primary" mat-raised-button type="submit">Post</button>
      </div>
    </form>
  </mat-card>
</div>
